@use "../../../../styles/Reusable.all.scss" as *;

.skill {
  @include flex(false, center, space-between);
  padding: 1rem 0;
  border-top: 1px solid $theme-black;
  border-bottom: 1px solid $theme-black;
  width: 100%;

  .icon {
    i {
      color: black;
      font-size: 2rem;

      &:nth-child(1){
        margin-right: -1rem;
      }
    }
  }

  .skillname {
    font-size: 2rem;
  }
}
