@use "../../styles/Reusable.all.scss" as *;

.section {
  position: relative;
  background-color: $theme-black;
  height: $section-height;
  min-height: 90rem;
  overflow-x: hidden;

  .frameone {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    transform: $theme-trans;
    
    width: 10rem;
    img {
      width: 100%;
    }

    @include media(xs) {
      width: 15rem;
    }
  }

  .frametwo {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    transform: $theme-trans;
    width: 10rem;
    img {
      width: 100%;
    }

    @include media(xs) {
      width: 15rem;
    }
  }
}
