@use "../../styles/Reusable.all.scss" as *;

.section {
  display: grid;
  grid-template-rows: 1fr 1fr;

  @include media(md) {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    
  }

  .views {
    @include flex(column);
    background-color: $theme-greeb;

    @include media(md) {
      grid-row: span 1;
      
    }

    .top {
      width: 40rem;

      @include media(md) {
        width: 60rem;
      }

      img {
        width: 100%;
      }
      
      
    }

    .bot {
     width: 40rem;
     align-self: flex-end;

     @include media(md) {
      width: 60rem;
    }

      img {
        width: 100%;
      }

    }
  }

  .skills {
    @include flex(column,false,center);
    gap: 8rem;
    padding: 0 1rem;
    
    
    .info {
      @include flex(column,center,center);
      .title {
        text-align: center;
        font-size: 5rem;
        
      }
      
      .description {
        font-size: 2rem;
        text-align: center;
        max-width: 42rem;
      
      }
    }

    .tecSkills {
      @include flex(column,center);
      padding: 1rem;
      margin: 0;
      gap: 4rem;
    }
  }
}
