@use "../../styles/Reusable.all.scss" as *;

.section {
  @include flex(column, center, center);
  @include media(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
  }

  .views {
    @include flex(column);
    width: 100%;
    background-color: $theme-greeb;
    
    @include media(md) {
      width:50%;
    }

    .top {
      align-self: flex-start;
      width: 100%;
      max-width: 40rem;
      img {
        width: 100%;
      }
      @include media(md) {
        max-width: 50rem;
      }
      
    }

    .bot {
      align-self: flex-end;
      width: 100%;
      max-width: 40rem;
      img {
        width: 100%;
      }

      @include media(md) {
        max-width: 50rem;
      }
    }
  }

  .skills {
    @include flex(column, center, center);
    gap: 5rem;
    padding: 8rem 3rem;
    

    @include media(md) {
      width: 50%;
      max-width: 60rem;
      min-width: 50rem;
      margin: 0 auto;
      padding: 1rem 2rem;
      gap: 15rem;
    }
    .info {
      @include flex(column, center, center);
      .title {
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;

        @include media(md) {
          font-size: 6rem;
        }
      }

      .description {
        font-size: 1.5rem;
        max-width: 30rem;
        text-align: center;
        margin: 0;

        @include media(md) {
          font-size: 2rem;
          max-width: 40rem;
        }
      }
    }

    .tecSkills {
      @include flex(column, center, center);
      gap: 2rem;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;

      @include media(md) {
        gap: 5rem;
      }
    }
  }
}
